// Button Main Nav Styles

@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

// Hamburger icon styles modified from
// the following codepen:
// https://codepen.io/RRoberts/pen/ZBYaJr

.btn-main-nav {

    @include flatten;
    border: none;
    background: none;
    background-size:cover;
    background-position: center;
    margin-right: em(12);

    &:hover{
        cursor: pointer;
    }

    .line{
        width: 35px;
        height: 5px;
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;

    }
      
    .show & {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.2s;
        transform: rotate(45deg);
    }

    @media (min-width: em(600)){
        display: none;
    }

}


