@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.color-transition {
    transition: background-color 0.2s ease-in-out; /* Adjust the duration and easing function as needed */
}

.slider-container{ 
    width:100%;
    padding:0 15px;
    background-color: transparent;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 


    .slick-dots li{
        margin:0px 15px;
    }

    .slick-dots .slick-active div{
        background-color: white;
    }


    .slide-article{

        article{
            width: 100%;
            align-items: center;
            justify-content: center;

        }
        h1{
            text-align: center;
            font-size:50px;
            color:$cloudwhite; 
            text-transform: uppercase;
            text-shadow: 2px 2px $matblack;
            @media (min-width: em(600)){
                font-size:60px;
            }
            @media (min-width: em(1100)){
                font-size:80px;
            }
        }

        p{
            text-align: center;
            font-size:30px;
            color:$cloudwhite; 
            text-transform: uppercase;
            font-family: $bodyFont;
            @media (min-width: em(600)){
                font-size:40px;
            }
            @media (min-width: em(1100)){
                font-size:50px;
            }
        }
    }


    .content{
        height:65px;
        width:307px;
        margin:0 auto;
        @media (min-width: em(600)){
            height:116px;
            width:512px;
        }
        @media (min-width: em(1100)){
            height:174px;
            width:820px;
        }

    }
    .content h1 {
        font-size:45px;
        color:$cloudwhite; 
        text-transform: uppercase;
        margin:0 auto;
        position: absolute;
        @media (min-width: em(600)){
            font-size:80px;
        }
        @media (min-width: em(1100)){
            font-size:120px;
        }
    }
    
    .content h1:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 1px $cloudwhite;
    }
    
    .content h1:nth-child(2) {
        color: $neonPink ;
        -webkit-text-stroke: 1px $cloudwhite;
        animation: animate 4s ease-in-out infinite;
    }
    
    @keyframes animate {
        0%,
        100% {
            clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
            );
        }
    
        50% {
            clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
            );
        }
    }
    

 

}