// Main Nav

@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.main-nav {
    z-index:999;
    width: 100%;
    background-color: transparent;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.5s ease, opacity 1s;

    .show & {
        background-color: $matblack;
        display:block;
        visibility: visible;
        height: 240px;
        transition: height 0.5s ease, opacity 1s;
    }



    ul {
        @include flatten($is-list: true);
    }
    a {
        color: $cloudwhite;
        text-decoration: none;
        display: block;
        line-height: 50px;
        font-size: 20px;
        font-family: $headingFont;
        padding: 0 8px;
        &:hover,
        &:focus,
        &:active {
            color:$neonPink;
            // -webkit-text-stroke: 2px $cloudwhite;
            border-bottom: 2px solid white;
        }
    }

    @media (min-width: em(600)){
        width:45%;
        height: auto;
        visibility: visible;
        transition: none;

        .show & {
            transition: none;
            height: auto;
        }
        
        ul {
            display: flex;
            gap:5px;
            padding-right:20px;
        }

        li {
            flex: 1;
        }

        a {
            padding: 0;
            text-align: center;
            border-top:  none;
            font-family: $headingFont;
        }

    }

}