// App Style Settings

@use '../utilities/functions' as *;

// Colors
$matblack:#4B4947;
$pink:#E9A1B9;
$pinkone:#E9A1B9;
$brightyellow:#F7FE42;
$winered:#521723;
$forestgreen:#5E6C5B;
$lightgreen:#d6d4ad52;
$cloudwhite:#FEFCF6;
$darkgolden:rgb(255, 170, 0);
$neonPink:#FE347E;


// Type
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Bagel Fat One', sans-serif;
$movieTitleFont: 'Rozha One',serif;
$roadRage:"Road Rage", sans-serif;



$footer-height: 65px;
$header-height: 70px;
$border-radius:5%;

// Layout
$section-padding: em(16) em(20);