// Type

@use 'settings' as *;

body {
    font-family: $bodyFont;
    color: $cloudwhite;
}

h1 {
    font-family: $headingFont;
}

h2,h3,h4{
    font-family: $bodyFont;
}
h2{
    font-size:30px;
}
h1, h2, h3, h4, p {
    margin-top: 0;
}

p {
    line-height: 1.4;
}